.header {
    width: 100%;
    height: 60px;
    background-color: #a9c5ca;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header div {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 12rem;
    color: #2077fa;
}

.header div a {
    text-decoration: none;
    color: #2077fa;
}

.header ul {
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-right: 12rem;
}

.header ul li a {
    text-decoration: none;
    color: #2e39dd;
}